In [1]:
#Import dependencies
import pandas as pd
import requests

#API pull for latest salary info from www.levels.fyi
salaryData = requests.get('https://www.levels.fyi/js/salaryData.json').json()
salary_df = pd.DataFrame(salaryData)

#dropping columns that are not relevant to project
salary_df = salary_df.drop(['cityid', 'dmaid','rowNumber','otherdetails','tag', 'basesalary', 'stockgrantvalue', 'bonus', 'gender'], axis=1)

#converting to float to allow for summary stats
salary_df["totalyearlycompensation"] = pd.to_numeric(salary_df["totalyearlycompensation"])
salary_df["yearsofexperience"] = pd.to_numeric(salary_df["yearsofexperience"])
salary_df["yearsatcompany"] = pd.to_numeric(salary_df["yearsatcompany"])

#coverting timestamp from object to datetime
salary_df['timestamp'] =  pd.to_datetime(salary_df['timestamp'], infer_datetime_format=True)

# Create separate cols for city, state and country
def split_location(location):
    items = location.split(', ')
    city = items[0]
    state = items[1]
    
    if len(items)==2:
        country = 'US'
    elif len(items)==3:
        country = items[2].strip()
    elif len(items)==4:
        country = ', '.join([i.strip() for i in items[2:]])
    else:
        country = None
        print(location)
        
    return [city, state, country]

salary_df['loc_items'] = salary_df.location.apply(lambda x: split_location(x))
salary_df['city'] = salary_df.loc_items.apply(lambda x: x[0])
salary_df['state'] = salary_df.loc_items.apply(lambda x: x[1])
salary_df['country'] = salary_df.loc_items.apply(lambda x: x[2])

# dropping location column  
salary_df = salary_df.drop(['location','loc_items'], axis=1)

#isolating US data for further exploration
us_df = salary_df[salary_df.country=='US'].copy()

#isolating us data to data scientist titles
us_df = us_df[us_df.title=='Data Scientist'].copy()


#merging dataframes into on collection
#cleaned_data = pd.concat([apple_df, amazon_df, fb_df, google_df, micro_df ])

#import dependency
#import pymongo
#from pymongo import MongoClient
#establish connection to pymongo
#conn ="mongodb://127.0.0.1:27017/"
#client = MongoClient(conn)
#db = client.ds_salaries
#collection = db.top5
#cleaned_dict = cleaned_data.to_dict("records")
#collection.insert_many(cleaned_dict)

In [2]:
us_df

,timestamp,company,level,title,totalyearlycompensation,yearsofexperience,yearsatcompany,city,state,country
745,2018-06-05 14:06:30,LinkedIn,Senior,Data Scientist,233.0,4.0,0.0,San Francisco,CA,US
772,2018-06-08 00:29:47,Amazon,L4,Data Scientist,140.0,2.0,2.0,Seattle,WA,US
776,2018-06-08 09:49:25,Microsoft,64,Data Scientist,218.0,11.0,11.0,Seattle,WA,US
782,2018-06-08 17:55:09,ebay,26,Data Scientist,180.0,10.0,5.0,San Jose,CA,US
796,2018-06-10 19:39:35,Twitter,Staff,Data Scientist,500.0,4.0,4.0,San Francisco,CA,US
...,...,...,...,...,...,...,...,...,...,...
62569,2021-08-16 16:17:19,IBM,L5,Data Scientist,145.0,6.0,5.0,New City,NY,US
62578,2021-08-16 17:08:58,Booz Allen Hamilton,Senior Consultant,Data Scientist,110.0,0.0,0.0,West McLean,VA,US
62600,2021-08-16 21:02:37,Xandr,L1,Data Scientist,120.0,1.0,0.0,Portland,OR,US
62610,2021-08-16 22:19:48,Facebook,L4,Data Scientist,233.0,2.0,2.0,Menlo Park,CA,US
62636,2021-08-17 07:55:47,AT&T,Principal,Data Scientist,175.0,9.0,7.0,Atlanta,GA,US

In [7]:
us_df['city'].value_counts()

San Francisco      373
Seattle            311
New York           245
Redmond            106
Menlo Park          94
                  ...
Irving               1
Campbell             1
Italy                1
Malvern              1
Chicago Heights      1
Name: city, Length: 160, dtype: int64

In [10]:
origins_df=us_df[['city', 'state']]
origins_df

                city state
745    San Francisco    CA
772          Seattle    WA
776          Seattle    WA
782         San Jose    CA
796    San Francisco    CA
...              ...   ...
62569       New City    NY
62578    West McLean    VA
62600       Portland    OR
62610     Menlo Park    CA
62636        Atlanta    GA

[2227 rows x 2 columns]

In [22]:
origins_df['city'] = origins_df.city.apply(lambda x: x.strip())

/Users/iSabyasachi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
clean_cities = origins_df.city.unique()
len(clean_cities)

160

In [28]:
len([group for idx,group in origins])

160

In [35]:
for idx, group in origins:
    if group.city.iloc[0] == 'Seattle':
        print(group)
        print('___________')

          city state  city_state
772    Seattle    WA  Seattle_WA
776    Seattle    WA  Seattle_WA
858    Seattle    WA  Seattle_WA
862    Seattle    WA  Seattle_WA
1159   Seattle    WA  Seattle_WA
...        ...   ...         ...
61993  Seattle    WA  Seattle_WA
62042  Seattle    WA  Seattle_WA
62174  Seattle    WA  Seattle_WA
62252  Seattle    WA  Seattle_WA
62485  Seattle    WA  Seattle_WA

[311 rows x 3 columns]
___________

In [32]:
origins=origins_df.groupby('city')

In [37]:
origins_df['city_state'] = origins_df.apply(lambda row: row.city + '%20C' + row.state, axis=1)
new_origins = origins_df.groupby('city_state')

/Users/iSabyasachi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
city_states=origins_df['city_state'].unique()

In [45]:
len(city_states)

166

In [92]:
distances=[]
for i in range(len(city_states)):
    origin_city=city_states[i]

    destination_city="New York%20CNY"
    
    
    try:
    
        url=base_url+"origins="+origin_city+"&destinations="+destination_city+"%20C"+"&key="+g_key

        payload={}
        headers = {}

        response = requests.request("GET", url, headers=headers, data=payload)

        x=response.json()

        y=x["rows"][0]["elements"][0]["distance"]["value"]
        print(y)

        distances.append(y)
    
    except:
        distances.append('None')
        print(city_states[i])

4680488
4606061
4733129
180329
4586918
4741100
4731642
10007
4727625
38727
4470171
381037
340801
4523564
4584771
4733749
4747337
4732148
1938306
2809697
4519772
1015931
2496123
3215226
815290
1401271
783795
2085043
4489857
4493846
1276254
2871551
4698565
4732030
2497842
866643
2868012
4663656
4665078
810167
2889308
549883
611951
796298
395724
202657
2626661
4719910
2864203
4653571
1033045
3491643
4709830
3883807
4693331
1929914
191201
Tel Aviv%20CIsrael
4718202
11544
182303
4708972
2546660
1825894
587930
1971613
991461
75964
1544995
1509849
1926142
789435
4689019
375887
4674587
1914459
4712832
2780533
162499
1033832
57517
3881557
4696866
396380
4666239
4796489
1317261
183239
1621075
378304
2076857
1735574
3953203
1784149
2925076
664942
749359
4735935
4676608
1354404
3975893
1727766
76782
63943
328199
1432926
1925966
113590
312385
1147317
2935940
4542341
1192694
1446177
1789851
3530622
328125
4680488
408933
165349
4685661
984761
1314248
64772
1229841
2862155
4491238
1723480
1377439
796984
4062808
1480192
416869
1833749
4461127
33582
1554987
319312
387336
286106
2515132
1028204
1378423
1261273
17252
2341311
4504340
4668036
398693
2172677
1776367
4501073
2004207
1415112
177344
23169
1768994
2054146
2248876
1541170
4209646
3419771
342073
76934
51652
382850

In [93]:
len(distances)

166

In [99]:
city_distance=pd.DataFrame(data={
    "city": city_states,
    "distance from NY": distances
})

In [100]:
city_distance

                         city distance from NY
0         San Francisco%20CCA          4680488
1               Seattle%20CWA          4606061
2              San Jose%20CCA          4733129
3              Kirkland%20CWA           180329
4              Bellevue%20CWA          4586918
..                        ...              ...
161       Mountain View%20CMO          3419771
162  Annapolis Junction%20CMD           342073
163             Holmdel%20CNJ            76934
164            New City%20CNY            51652
165         West McLean%20CVA           382850

[166 rows x 2 columns]

In [27]:
len([group for idx,group in new_origins])

166

In [24]:
len(cities)

160

In [18]:
x=origins_df['city'].value_counts()
type(x)

pandas.core.series.Series

In [53]:
from api_keys import g_key
import gmaps
import requests

In [54]:
base_url = "https://maps.googleapis.com/maps/api/distancematrix/json?"

In [89]:
origin_city="Chicago"
origin_state= "IL"

destination_city="New York"
destination_state="NY"

url=base_url+"origins="+origin_city+"%20C"+origin_state+"&destinations="+destination_city+"%20C"+destination_state+"&key="+g_key

In [90]:
url

'https://maps.googleapis.com/maps/api/distancematrix/json?origins=Tel Aviv%20CIsrael&destinations=New York%20CNY&key=AIzaSyDTVDwHfRJWMsuEPPihuXcEoq9bJYnE1DI'

In [91]:
payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{
   "destination_addresses" : [ "New York, NY, USA" ],
   "origin_addresses" : [ "Tel Aviv-Yafo, Israel" ],
   "rows" : [
      {
         "elements" : [
            {
               "status" : "ZERO_RESULTS"
            }
         ]
      }
   ],
   "status" : "OK"
}

In [69]:
x=response.json()

In [77]:
x["rows"][0]["elements"][0]["distance"]["value"]

1279785